@import 'styles/main-page.css' screen;
@import 'styles/header.css' screen;
@import 'styles/logo.css' screen;
@import 'styles/navigation.css' screen;
@import 'styles/player.css' screen;
@import 'styles/caption.css' screen;
@import 'styles/advertising.css' screen;
@import 'styles/main-sector.css' screen;
@import 'styles/news.css' screen;
@import 'styles/footer.css' screen;
@import 'styles/devices.css' screen;
@import 'styles/possibilities.css' screen;
@import 'styles/social.css' screen;
@import 'styles/menu.css' screen;
@import 'styles/button.css' screen;
@import 'styles/icon.css' screen;

@font-face
{
	font-family: LaoUI;
	src: url('fonts/LaoUI.ttf') format('truetype');
}

@font-face
{
	font-family: 'Asap Regular';
	src: url('fonts/Asap-Regular.ttf') format('truetype');
}

@font-face
{
	font-family: 'Segoe WP';
	src: url('fonts/Segoe-WP.ttf') format('truetype');
}

@font-face
{
	font-family: 'Segoe WP Light';
	src: url('fonts/segoe-wp-light.ttf') format('truetype');
}

@font-face
{
	font-family: 'Lucida Sans Italic';
	src: url('fonts/Lucida-Sans-Italic.ttf') format('truetype');
}

@font-face
{
	font-family: 'Segoe UI';
	src: url('fonts/Segoe-UI.ttf') format('truetype');
}

@font-face
{
	font-family: 'PT Sans Regular';
	src: url('fonts/PT-Sans-Regular.ttf') format('truetype');
}

@font-face
{
	font-family: 'Open Sans Regular';
	src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face
{
	font-family: 'social';
	src: url('fonts/social.ttf?uwv1ce') format('truetype'),
	url('fonts/social.woff?uwv1ce') format('woff'),
	url('fonts/social.svg?uwv1ce#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'advertising';
	src: url('fonts/advertising.ttf?f0om51') format('truetype'),
	url('fonts/advertising.woff?f0om51') format('woff'),
	url('fonts/advertising.svg?f0om51#advertising') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'button';
	src: url('fonts/button.ttf?8xi7lq') format('truetype'),
	url('fonts/button.woff?8xi7lq') format('woff'),
	url('fonts/button.svg?8xi7lq#button') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'menu';
	src: url('fonts/menu.ttf?63c82j') format('truetype'),
	url('fonts/menu.woff?63c82j') format('woff'),
	url('fonts/menu.svg?63c82j#menu') format('svg');
	font-weight: normal;
	font-style: normal;
}






