.header__inner-container
{ max-width: 1020px; 
    margin: 0 auto;  padding: 1.6% 0 3.45% 0;
}

@media only screen and (max-width: 650px)
{
    .header__inner-container
    {
        padding: 0;
    }
}
