.caption
{
    font: 63px 'Asap Regular';  line-height: 1.2;  display: inline-block;  padding: 7.9% 0 0 2.2%;  text-align: center;  vertical-align: top;     letter-spacing: .6px;
}

@media only screen and (max-width: 650px)
{
    .caption
    {
        display: none;
    }
}
