.caption {
	font: 63px 'Asap Regular';
	text-align: center;
	padding: 7.9% 0 0 2.2%;
	letter-spacing: 0.6px;
	display: inline-block;
	line-height: 1.2;
	vertical-align: top;
}

@media only screen and (max-width: 650px) {
    .caption {
        display: none;
	}
}