.news__caption-text
{
    font: 29.05px 'Segoe WP Light';     line-height: 134%;  letter-spacing: -.2px;
    text-transform: none;  color: #fff;
}

@media only screen and (max-width: 1019px) and (min-width: 651px)
{
    .news__caption-text
    {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 940px) and (min-width: 651px)
{
    .main-sector__caption-text
    {
        font-size: 3vw;
    }
}

@media only screen and (max-width: 650px)
{
    .news__caption-text
    {
        font: 4vw 'Segoe WP Light';  letter-spacing: -.6px;
    }
}
