.main-sector {
	background-color: #f5cc24;
	background-size: 54px 54px;
	background-position: 0 0, 27px 27px;
	background-image: linear-gradient(
		45deg, 
		#f5c507 25%, 
		transparent 25%, 
		transparent 75%, 
		#f5c507 75%, 
		#f5c507),	
		linear-gradient(
			45deg, 
			#f5c507 25%, 
			transparent 25%, 
			transparent 75%, 
			#f5c507 75%, 
			#f5c507);
			box-shadow: inset 0em 3px 3px rgba(0, 0, 0, 0.4);
		}

@media only screen and (max-width: 650px) {
	.main-sector {
		background-image: none;
		background: transparent;
		box-shadow: none;
	}
}