.player {
	padding: 0.5% 1%;
	display: inline-block;
}

.player:after {
	content: url("../../img/player.png");
}

@media only screen and (max-width: 650px) {
    .player {
        padding: 0;
	}

	.player:after {
        content: url("../../img/player-small.png");
    }
}