.navigation
{
	display: table-cell;
	width: 44.5%;
	margin-left: auto;
	vertical-align: bottom;
}

@media only screen and (max-width: 1019px) and (min-width: 651px)
{
	.navigation
	{
		display: block;
		width: auto;
		margin: 0;
	}
}

@media only screen and (max-width: 650px)
{
	.navigation
	{
		width: auto;
		vertical-align: middle;
		background: #f5c506;
	}
}
