.advertising__item {
	display: table-cell;
	width: 33.33%;
	font: 27.05px 'Segoe UI';
	text-align: center;
	border-right: 1px solid #d4d4d4;
	padding: 3.2% 0;
	color: #3b3b3b;
}

@media only screen and (max-width: 650px) {
    .advertising__item {
        border-right: none;
        font: 23.05px 'Segoe UI';
	}
}