.advertising__items-list
{
    display: table;  width: 100%;
}

.advertising__items-list li:first-child
{
    border-left: 1px solid #d4d4d4;
}

@media only screen and (max-width: 650px)
{
    .advertising__items-list li:first-child
    {
        border-left: none;
    }
}
