.advertising__item
{
    font: 27.05px 'Segoe UI';

    display: table-cell;  width: 33.33%;  padding: 3.2% 0;  text-align: center;  color: #3b3b3b;     border-right: 1px solid #d4d4d4;
}

@media only screen and (max-width: 650px)
{
    .advertising__item
    {
        font: 23.05px 'Segoe UI';  border-right: none;
    }
}
