.footer
{
    position: absolute;  top: 100%;  right: 0;  bottom: 0;  left: 0;  display: table;  width: 100%;; text-align: center;  background-image: url('../../img/footer.png');  background-repeat: repeat; 
}
