.footer__logo-img
{
    display: inline-block;  content: url('../../img/footer-logo.png');  vertical-align: middle;
}

@media only screen and (max-width: 650px)
{
    .footer__logo-img
    {
        content: url('../../img/footer-logo-small.png');
    }
}
