.logo__img-container {
	display: inline-block;
	vertical-align: middle;
	display: inline-block;
}

.logo__img-container:after {
	content: url("../../img/logo.png");
}

@media only screen and (max-width: 650px) {
    .logo__img-container:after {
        content: url("../../img/logo-small.png");
    }
}