.logo__caption
{
    font: 41.05px 'Lucida Sans Italic';

    vertical-align: middle;
    letter-spacing: .2px;
}

@media only screen and (max-width: 650px)
{
    .logo__caption
    {
        font: 3vw 'Lucida Sans Italic';

        letter-spacing: .5px;
    }
}
