.logo__primary-text
{
    display: inline-block;  padding-top: 3%; vertical-align: middle; 
}

@media only screen and (max-width: 650px)
{
    .logo__primary-text
    { padding-left: 1.8%;

        vertical-align: middle; 
    }
}
