.button
{
	font-family: 'button';
	font-size: 80%;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;
	color: #ffffff;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button-plus:before
{
	content: '\e900';
}
