.logo
{
	display: table-cell;
}

.logo__signature
{
	font: 13px 'LaoUI';
	letter-spacing: .2px;
}

.logo__secondary-text
{
	display: inline-block;
	padding-bottom: 1.8%;
	vertical-align: bottom;
	text-transform: uppercase;
}

.logo__text-container
{
	display: inline-block;
}

.logo__primary-text
{
	display: inline-block;
	padding-top: 3%;
	vertical-align: middle;
	text-transform: uppercase;
}

.logo__img-container
{
	display: inline-block;
	display: inline-block;
	vertical-align: middle;
}

.logo__img-container:after
{
	content: url('../img/logo.png');
}

.logo__caption
{
	font: 41.05px 'Lucida Sans Italic';
	vertical-align: middle;
	letter-spacing: .2px;
}

@media only screen and (max-width: 1019px) and (min-width: 651px)
{
	.logo
	{
		display: block;
		text-align: center;
	}
}

@media only screen and (max-width: 650px)
{
	.logo
	{
		padding: 1.8% 2.5% 2% 1.8%;
		text-align: center;
		vertical-align: middle;
		background: linear-gradient(#5d5d5d, #434343);
	}

	.logo__primary-text
	{
		padding-left: 1.8%;
		vertical-align: middle;
	}

	.logo__secondary-text
	{
		display: none;
	}

	.logo__img-container:after
	{
		content: url('../img/logo-small.png');
	}

	.logo__caption
	{
		font: 3vw 'Lucida Sans Italic';
		letter-spacing: .5px;
	}
}
