.main-sector
{
	background-color: #f5cc24;
	background-image: linear-gradient(
	45deg,
	#f5c507 25%,
	transparent 25%,
	transparent 75%,
	#f5c507 75%,
	#f5c507),
	linear-gradient(
	45deg,
	#f5c507 25%,
	transparent 25%,
	transparent 75%,
	#f5c507 75%,
	#f5c507);
	background-position: 0 0, 27px 27px;
	background-size: 54px 54px;
	box-shadow: inset 0 3px 3px rgba(0, 0, 0, .4);
}

.main-sector__inner-container
{
	max-width: 1020px;
	margin: 0 auto;
	padding-bottom: 9.05%;
}

.main-sector__header
{
	font: 37.05px 'PT Sans Regular';
	letter-spacing: .29px;
	color: #ffffff;
}

.main-sector__header-container
{
	padding: 3.1% 0;
}

@media only screen and (max-width: 650px)
{
	.main-sector
	{
		background: transparent;
		background-image: none;
		box-shadow: none;
	}

	.main-sector__inner-container
	{
		padding-bottom: 0;
	}

	.main-sector__header-container
	{
		display: none;
	}
}
