@font-face {
  font-family: 'menu';
  src:
    url('../fonts/menu.ttf?63c82j') format('truetype'),
    url('../fonts/menu.woff?63c82j') format('woff'),
    url('../fonts/menu.svg?63c82j#menu') format('svg');
  font-weight: normal;
  font-style: normal;
}

.menu {
  font-family: 'menu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #b99403;
  font-size: 120%;

  vertical-align: text-top;
}

.menu-user:before {
  content: "\e971";
}
.menu-wrench:before {
  content: "\e991";
}
.menu-envelope:before {
  content: "\f0e0";
}
