.navigation_position_bottom
{
	align-self: flex-end;
}

.navigation__items-list
{
	display: flex;
	background: #f5c506;
	box-shadow: -4px -4px rgba(245, 197, 6, .3), -8px -8px rgba(245, 167, 6, .2);
}

.navigation__items-list li:first-child
{
	padding-left: 40px;
}

.navigation__items-list li:last-child
{
	border-right: none;
}

.navigation__item
{
	font: 17px 'Segoe WP';
    padding: 9px 25px 9px 15px;
	letter-spacing: .15px;
	color: #9b7d08;
	border-right: 1px solid #dcb105;
}

.navigation__item-text
{
	text-transform: uppercase;
}

@media only screen and (max-width: 1019px) and (min-width: 651px)
{
	.navigation__items-list
	{
		margin: 20px auto;
		width: 460px;
	}
}

@media only screen and (max-width: 650px)
{
	.navigation
	{
		background: #f5c506;
	}

	.navigation__items-list
	{
		padding: 0;
		text-align: center;
		background: none;
		box-shadow: none;
	}

	.navigation__items-list li:first-child
	{
		padding-left: 0;
	}

	.navigation__item
	{
		font: 19.05px 'Segoe WP';
		font-size: 3vw;
		padding: 18px 0;
		flex-grow: 1;
	}

	.navigation_position_bottom
	{
		flex-grow: 1;
		align-self: auto;
	}
}
