.news__container
{
	display: flex;
}

.news__complex-item
{
	display: flex;
}

.news__caption-container
{
	padding: 3.8% 8%;
}

.news__caption
{
	position: relative;
	width: 340px;
	background: #ec9e03;
}

.news__caption-text
{
	font: 29.05px 'Segoe WP Light';
	line-height: 134%;
	letter-spacing: -.2px;
	text-transform: none;
	color: #ffffff;
}

.news__caption-container:first-letter
{
	text-transform: capitalize;
}

.news__item-add
{
	position: absolute;
	right: 4%;
	bottom: 5%;
}
.news__simple-item
{
	position: relative;
	width: 330px;
	text-align: center;
	background: #ec9e03;
}

.news__count
{
	font: 25.05px 'Segoe WP Light';
	color: #ffffff;
}

.news__count-container
{
	position: absolute;
	top: 5%;
	right: 4%;
}

@media only screen and (max-width: 940px) and (min-width: 651px)
{
	.news__social
	{
		display: block;
		margin: 0 auto;
	}

	.news__primary-container
	{
		display: block;
		margin: 0 auto;
		padding-bottom: 2%;
		text-align: center;
	}

	.news__content
	{
		display: inline-block;
	}

	.news__caption
	{
		display: inline-block;
	}

	.news__caption-text
	{
		font-size: 2.5vw;
	}

	.main-sector__caption-text
	{
		font-size: 3vw;
	}
}

@media only screen and (max-width: 650px)
{
	.news__social
	{
		display: inline-block;
		width: 100%;
		background: #f5c507;
	}

	.news__social-img
	{
		vertical-align: middle;
	}

	.news__primary-container
	{
		padding: 2% 1.5%;
	}

	.news__count-container
	{
		display: none;
	}

	.news__content
	{
		display: table-cell;
		width: 50%;
		padding-left: 1.5%;
	}

	.news__comment-add
	{
		display: none;
	}

	.news__caption
	{
		display: table-cell;
		width: 50%;
	}

	.news__caption-text
	{
		font: 4vw 'Segoe WP Light';
		letter-spacing: -.6px;
	}
}
