.player
{
	content: url('../img/player.png');
	float: left;
	padding: .3% 1% .5% 1%;
}

.player:after
{
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@media only screen and (max-width: 650px)
{
	.player
	{
		padding: 0;
	}

	.player:after
	{
		content: url('../img/player-small.png');
	}
}
