.secondary-sector
{
	background-image: url('../img/footer.png');
	background-repeat: repeat;
}

.secondary-sector__caption
{
	font: 43.05px 'PT Sans Regular';
	text-align: center;
	letter-spacing: .3px;
	color: #f5c506;
	text-transform: uppercase;
}

.secondary-sector__devices
{
	display: inline-block;
}

.secondary-sector__possibilities
{
	display: inline-block;
	max-width: 456px;
	padding-left: 9.5%;
}

.secondary-sector__container
{
	padding: 40px 0 103px 0;
}

@media only screen and (max-width: 650px)
{
	.secondary-sector__possibilities
	{
		display: none;
	}
}
