.social
{
	font-family: 'social';
	font-size: 1000%;
	color: #c18000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
}

.social-twitter:before
{
	content: '\ea96';
}
