@media only screen and (max-width: 1019px) and (min-width: 651px) {
    .logo {
        text-align: center;
        display: block;
    }

    .navigation {
        display: block;
        margin: 0;
        width: auto;
    }

    .header__bottom-container {
        text-align: center;
    }

    .navigation__inner-container {
        margin: 0 auto;
        padding-top: 5%;
    }

    .navigation__items-list {
        margin: 0 auto;
    }

    .main-sector__caption-text {
	    font-size: 2.5vw;
    }
}

@media only screen and (max-width: 940px) and (min-width: 651px){
    .header__bottom-container {
        text-align: center;
    }

    .news__primary-container {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 2%;
    }

    .news__caption,
    .news__content {
        display: inline-block;
    }

    .news__social {
        display: block;
        margin: 0 auto;
    }

    .main-sector__caption-text {
	    font-size: 3vw;
    }
}

@media only screen and (max-width: 650px) {
    .header {
        background: none;
        box-shadow: none;
    }

    .logo {
        background: linear-gradient(#5d5d5d, #434343);
        vertical-align: middle;
        padding: 1.8% 2.5% 2% 1.8%;
        text-align: center;
    }
    
    .header__inner-container {
        padding: 0;
    }

    .logo__img-container:after {
        content: url("../img/logo-small.png");
    }

    .logo__primary-text {
        vertical-align: middle;
        padding-left: 1.8%;
    }

    .logo__caption {
        font: 3vw 'Lucida Sans Italic';
        letter-spacing: 0.5px;
    }

    .logo__secondary-text{
        display: none;
    }

    .navigation {
        width: auto;
        vertical-align: middle;
        background: #f5c506;
    }

    .navigation__items-list {
        box-shadow: none;
        background: none;
        padding: 0;
        text-align: center;
    }
    
    .navigation__item {
        font: 19.05px 'Segoe WP';
        padding: 18px 15px;
    }
    
    .navigation__items-list li:first-child {
        padding-left: 9px;
    }

    .caption {
        display: none;
    }

    .header__bottom-container {
        padding: 0;
        text-align: center;
    }

    .player {
        padding: 0;
    }

    .player:after {
        content: url("../img/player-small.png");
    }

    .advertising__inner-container {
        padding-bottom: 1.5%;
    }
    
    .advertising__item {
        border-right: none;
        font: 23.05px 'Segoe UI';
    }

    .advertising__items-list li:first-child {
        border-left: none;
    }

    .advertising__item-img {
        height: 82%;
    }

    .main-sector {
        background-image: none;
        background: transparent;
        box-shadow: none;
    }

    .main-sector__inner-container {
        padding-bottom: 0;
    }

    .main-sector__header-container {
        display: none;
    }

    .news__primary-container {
        padding: 2% 1.5%;
    }

    .news__caption-text {
        font: 4vw 'Segoe WP Light';
        letter-spacing: -0.6px;
    }

    .news__social {
        background: #f5c507;
        width: 100%;
        display: inline-block;
    }

    .news__comment-add {
        display: none;
    }

    .news__count-container {
        display: none;
    }

    .news__content {
        padding-left: 1.5%;
    }

    .news__caption, 
    .news__content {
        display: table-cell;
        width: 50%;
    }

    .news__social-img {
        vertical-align: middle;
    }

    .possibilities {
        display: none;
    }

    .footer__caption {
        font: 16.68px 'Lucida Sans Italic';
    }

    .footer__logo-img {
        content: url("../img/footer-logo-small.png");
    }

    .navigation__item {
        font-size: 3vw;
    }
}