@media (max-width: 650px) {
    .header {
        background: none;
        box-shadow: none;
    }

    .header__logo {
        background: linear-gradient(#5d5d5d, #434343);
        vertical-align: middle;
        padding: 1.8% 0 2% 1.8%;
    }
    
    .header__inner-container {
        padding: 0;
    }

    .logo__img-container {
        content: url("../img/logo-small.png");
    }

    .logo__header-container {
        vertical-align: middle;
        padding-left: 1.8%;
    }

    .logo__header-text {
        font: 19.29px 'Lucida Sans Italic';
        letter-spacing: 0.5px;
    }

    .logo__signature-container {
        display: none;
    }

    .header__navigation {
        width: auto;
        vertical-align: middle;
    }

    .navigation__items-list {
        box-shadow: none;
        background: none;
        padding: 0;
    }
    
    .navigation__item {
        font: 19.05px 'Segoe WP';
        padding: 18px 15px;
        background: #f5c506;
    }
    
    .navigation__items-list li:first-child {
        margin-left: 0;
    }

    .header__caption {
        display: none;
    }

    .header__bottom-container {
        padding: 0;
    }

    .header__player {
        padding: 0;
        width: 100%;
    }
    
    .header__player-content {
        width: 100%;
    }

    .advertising__item {
        border-right: none;
    }

    .advertising__items-list li:first-child {
        border-left: none;
    }

    .main-sector {
        background-image: none;
        background: transparent;
    }

    .main-sector__inner-container {
        padding-bottom: 0;
    }

    .main-sector__header-container {
        display: none;
    }

    .main-sector__caption-text {
	    font: 28.97px 'Segoe WP Light';
    }

    .main-sector__social-item {
        display: table-row;
        background: #f5c507;
    }

    .main-sector__news-add {
        display: none;
    }

    .main-sector__count-container {
        display: none;
    }

    .main-sector__caption-item, 
    .main-sector__content-item {
        width: 50%;
    }

    .main-sector__social-item {
        width: 100%;
    }

    .footer__content-possibilities {
        display: none;
    }

    .footer__caption {
        font: 16.68px 'Lucida Sans Italic';
    }

    .footer-logo__img-container {
        content: url("../img/footer-logo-small.png");
    }
}