@font-face {
    font-family: LaoUI;
    src: url("../fonts/LaoUI.ttf");
}

@font-face {
    font-family: 'Asap Regular';
    src: url("../fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: 'Segoe WP';
    src: url("../fonts/Segoe-WP.ttf");
}

html, body {
	text-transform: uppercase;
	color: #FFFFFF;
}

.header {
	background-image: url("../img/header_slide.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.header__inner-container {
	padding: 1% 10%;
}

.header__top-container {
	margin-top: 0.5%;
	display: flex;
	align-items: center;
}

.header__bottom-container{
	margin-top: 3%;
	display: flex;
	align-items: center;
}

.header__logo, 
.header__navigation, 
.header__player, 
.header__caption {
	display: inline-block;
}

.logo__img-container, 
.logo__inscription-container, 
.logo__header-container, 
.logo__signature-container {
	display: inline-block;
}

.logo__img-container, 
.logo__inscription-container
 {
	vertical-align: middle;
}

.logo__header {
	font: italic 41px 'Lucida Sans';
	vertical-align: middle;
}

.logo__signature {
	font: 13px 'LaoUI';
}

.header__navigation {
	float: right;
	margin-left: auto;
}

.navigation__items-list {
	background: #f5c506;
	box-shadow:
	-3px -3px rgba(245, 197, 6, 0.5), 
	-6px -6px rgba(245, 167, 6, 0.3);
	padding: 10px;
}

.navigation__box {
	background: #f5c506;
	font: 17px 'Segoe WP';
}

.navigation__item {
    display: inline;
    margin-right: 5px;
    border-right: 1px solid #9b7d08;
	padding: 10px 30px;
	color: #9b7d08;
	font-size: 17px;
}

.navigation__items-list li:last-child 
{ 
	border-right: none;  
}

.header__caption {
	font: 63px 'Asap Regular';
	text-align: center;
	float: right;
	margin-left: auto;
}

.caption__text--primary {
	color: #f5c506;
}

