@font-face {
    font-family: LaoUI;
    src: url("../fonts/LaoUI.ttf");
}

@font-face {
    font-family: 'Asap Regular';
    src: url("../fonts/Asap-Regular.ttf");
}

@font-face {
    font-family: 'Segoe WP';
    src: url("../fonts/Segoe-WP.ttf");
}

html, body {
	text-transform: uppercase;
	color: #FFFFFF;
}

.header {
	padding: 0% 10%;	
	background-image: url("../img/header_slide.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.logo, .navigation, .player, .caption {
	display: inline-block;
}

.logo_img, .logo__header, logo__signature {
	display: inherit;
}

.logo__header {
	font: italic 41px 'Lucida Sans';
}

.logo__signature {
	font: 13px 'LaoUI';
}

.navigation {
	background: #f5c506;
	box-shadow:
	-3px -3px rgba(245, 197, 6, 0.5), 
	-6px -6px rgba(245, 167, 6, 0.3);
	padding: 10px;
}


.navigation__box {
	background: #f5c506;
	font: 17px 'Segoe WP';
}

.navigation__box li {
    display: inline;
    margin-right: 5px;
    border-right: 1px solid #9b7d08;
	padding: 10px 30px;
	color: #9b7d08;
	font-size: 17px;
}

.navigation__box li:last-child 
{ 
	border-right: none;  
}

.caption {
	font: 63px 'Asap Regular';
	text-align: center;
}

.caption__cool {
	color: #f5c506;
}

