.menu
{
    font-family: 'menu' !important;  font-size: 120%;  font-weight: normal;  font-style: normal;  font-variant: normal;  line-height: 1;  vertical-align: text-top;     text-transform: none;  color: #b99403;  speak: none;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;
}

.menu-user:before
{
    content: '\e971';
}
.menu-wrench:before
{
    content: '\e991';
}
.menu-envelope:before
{
    content: '\f0e0';
}
